.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 9px 7px 21px;
    gap: 5px;
    border-radius: 28px;
    width: 146px;
    height: 56px;
    background: #fff;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.31em;
    text-transform: uppercase;
    color: #000;
    color: rgba(0, 0, 0, 0.5);
}

.button:hover img {
    opacity: 0.7;
}

.button__icon_rotated {
    transform: rotate(180deg);
}