.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    width: 100%;
}

.time__wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.greeting__wrapper {
    display: flex;
    gap: 17px;
    height: 28px;
}
.greeting {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}
.img {
    width: 24px;
    height: 24px;
}

.time {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #fff;
}
.location {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}