.time-container {
    position: relative;
    width: 100%;
    margin-top: auto;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
}

.time-container.shift-up {
    transform: translateY(-400px);
}

.more-info-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}

.more-info-container.visible {
    transform: translateY(0);
}